body { font-family:Arial; }
section { width:700px; margin:10px auto; }
#status { border:solid 2px #DDD; padding:5px 15px; }
#status.loading { background:#F4F776; }
#status.success { background:#BCED91; }
#status.error   { background:#FF6347; }
#response { margin:10px 0; }
#response table { width:100%; }
#response th { background:#DDD; padding:5px 15px; }
#response td { border-bottom:solid 1px #DDD; padding:5px 15px; }